/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-right: 2rem;
  }
  
  nav a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #0077c0;
  }
/* Hero section styles */
.hero {
  background-image: url('hero.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-text {
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  margin: 0;
  line-height: 1.2;
  color: #0077c0;
}

.hero p {
  font-size: 1.5rem;
  margin: 1rem 0;
  max-width: 800px;
  color: #0077c0;
  padding-left: 8rem;
}

/* Projects section styles */
.projects {
  background-color: #f9f9f9;
  padding: 4rem 0;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.project {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  max-width: 30%;
  padding: 2rem;
  text-align: center;
}

.project img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.project h3 {
  font-size: 1.5rem;
  margin: 0;
}

.project p {
  font-size: 1rem;
  margin: 1rem 0;
}

/* CTA section styles */
.cta {
  background-color: #0077c0;
  color: #fff;
  text-align: center;
  padding: 4rem 0;
}

.cta h2 {
  font-size: 2.5rem;
  margin: 0;
}

.cta p {
  font-size: 1.5rem;
  margin: 2rem 0;
  max-width: 800px;
  margin: 0 auto;
}

.cta .btn {
    background-color: #fff;
    color: #232323;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
  }
  
  .cta .btn:hover {
    background-color: #f8f8f8;
  }

/* Button styles */
.btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  color: #0077c0;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #0077c0;
  color: #fff;
}

/* Footer styles */
footer {
background-color: #333;
color: #fff;
padding: 2rem;
}

.footer-links {
display: flex;
justify-content: center;
margin-bottom: 1rem;
}

.footer-links a {
color: #fff;
margin: 0 1rem;
}

.footer-links a:hover {
text-decoration: underline;
}

.footer-text {
text-align: center;
}

.footer-text p {
margin: 0;
}

/* Projects section */
.projects {
    background-color: #f8f8f8;
    padding: 50px 0;
  }
  
  .projects h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .project {
    flex-basis: 31%;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .project img {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .project h3 {
    margin-bottom: 15px;
  }
  
  .project p {
    font-size: 14px;
    margin-bottom: 25px;
  }
  
  /* CTA section */
  .cta {
    background-color: #232323;
    color: #fff;
    text-align: center;
    padding: 50px 0;
  }
  
  .cta h2 {
    margin-bottom: 20px;
  }
  
  .cta p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .cta .btn {
    background-color: #fff;
    color: #232323;
    padding: 10px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
  }
  
  .cta .btn:hover {
    background-color: #f8f8f8;
  }
  
